<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom Styles -->
  <link rel="stylesheet" href="/stylesheets/style.css">

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <!-- DataTables -->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
  <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>


  <style>
    body,
    html {
      margin: 0;
      padding: 0;
      width: 100%;
    }

    nav.navbar {
      margin: 0;
      width: 100%;
    }
  </style>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Eco Cart</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item"><a class="nav-link" href="/admin/login">Admin</a></li>
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/products/favorites">Favorites</a></li>
            <li class="nav-item"><a class="nav-link" href="/products/cart">Cart</a></li>
            {{#if loggedOut}}
            <li class="nav-item"><a class="nav-link" href="/users/login">Login</a></li>
            {{else}}
            <li class="nav-item"><a class="nav-link" href="/products/orders">Orders</a></li>
            <li class="nav-item"><a class="nav-link" href="/users/details">User</a></li>
            <li class="nav-item"><a class="nav-link" href="/users/logout">Logout</a></li>
            {{/if}}
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main class="container my-4">
    {{{body}}} <!-- Dynamic content -->
  </main>

  <footer class="bg-light text-center py-3">
    <p>&copy; 2024 Eco Cart. All Rights Reserved.</p>
  </footer>

  <!-- JS Scripts -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
</body>

</html>